.HotsBlogsContainer{
    /* background-color: #127e8c0e; */

}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);    
}
.HotsContainer{
    background-color: #f7feff;
    margin: 1rem 0.5rem 0.5rem 0.7rem;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
}
.BlogsContainer{
    background-color: #f7feff;
    margin: 1rem 0.5rem 0.5rem 0.7rem;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
}