.taskVidContainer{
    /* z-index: 10; */
    /* background-color: aqua; */
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    /* background-color: aquamarine; */
    /* transition: 0.5s ease-in-out; */
}
.CardContainer{
    transition: 0.3s ease-in-out;
}
.CardContainer:hover {
    scale:1.05;
}