
.taskwrapper{
    display: grid;
    grid-template-columns: 65% 35%;
}
.addTaskForm{
    margin-top: 1rem;
}
.addTaskForm form{
    width: 100%;
    padding: 1.5rem 1rem 2rem 1rem;
    background-color: #ffffff;
    border-radius: 10px;
}



.submit{
    margin-top: -10px;
}

.icons{
    display: inline;
    margin-right: 20px;
}
.tasks{
    margin-left: 10px;
}
.taskVidContainerClass{
    margin-top: 2rem;
   
}

.taskContainer{
    padding: 0 0.5rem;
}